# Data files
data/
nacc_with_summary.csv
nacc_unique_with_summary.csv
investigator_ftldlbd_nacc65.csv
new_nacc_unique_type_3.csv
nacc_unique_with_llama_summaries*/
benchmarks/
data_preparation_old/
other/
old_data/

# Test scripts
*.sh.*
check.ipynb
check.txt
finetune_ddp.py
diagnostic_summary_test.ipynb
mri_qc.ipynb
get_progression_cases.ipynb
llama32_test.ipynb

# Intermediate folders
wandb/
results/
save_folder/
__pycache__/
logs/
wandb/

# Checkpoint
ckpt/
llama3-8b-adrd/
*.pth
results/

# old code
fm_adrd/
bash_scripts/
